---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
---

<Layout title="Welcome to Astro.">
	<img src="/img/temp_img.png" alt="" class="w-screen h-auto shadow-xl">
	<main class="px-8 pt-8">
		<p class="text-lg mb-8 text-off-white font-jost">Välkommen till Helheten Friskvård!</p>
		<p class="text-lg mb-8 text-off-white font-jost">Här erbjuder vi ett brett urval av behandlingar för att din kropp ska må så bra som den förtjänar, allt i en unik och varmhjärtad atmosfär där kvalitet, omtanke och glädje är våra främsta ledord.</p>
		<p class="text-lg text-off-white mb-8 font-jost">Salongens öppettider kan variera, men du kan boka tider utöver butikens ordinarie öppettider. </p>
		<Button title="BOKA TID" href='https://www.bokadirekt.se/places/helheten-friskvard-fjaras-7695'></Button>
	</main>
</Layout>