---
interface Props {}

const {} = Astro.props;
import { Icon } from "astro-icon";
---

<div
  id="menu"
  class="fixed w-screen h-screen z-40 menu-closed transition-transform"
>
  <a href="/" class="w-48 md:w-56 block">
    <img
      class="w-48 md:w-56 m-4"
      src="/img/helheten_logo_dark.webp"
      alt="helheten logo"
    />
  </a>
  <div class="m-8 mt-36 md:mt-52 flex flex-col gap-12">
    <a id="about" href="/om">
      <div class="md:content-center md:flex md:flex-row md:justify-center">
        <h1 class="text-grey-dark text-4xl md:text-6xl transition-transform hover:scale-110 font-francoisOne">OM OSS</h1>
      </div>
    </a>
    <a id="treatment" href="/behandlingar">
      <div class="md:content-center md:flex md:flex-row md:justify-center">
        <h1 class="text-grey-dark text-4xl md:text-6xl transition-transform hover:scale-110 font-francoisOne">BEHANDLINGAR</h1>
      </div>
    </a>
    <a id="contact" href="/kontakt">
      <div class="md:content-center md:flex md:flex-row md:justify-center">
        <h1 class="text-grey-dark text-4xl md:text-6xl transition-transform hover:scale-110 font-francoisOne">KONTAKTA OSS</h1>
      </div>
    </a>
  </div>
  <div class="mx-8 mt-20 bottom-20 absolute md:static flex flex-row items-end md:justify-center">
    <a href="https://www.facebook.com/helhetenfriskvard/?locale=sv_SE">
      <Icon class="scale-[1.15] w-20 text-grey-dark" name="facebook-social" />
    </a>
    <a href="https://www.instagram.com/helhetenfriskvard/">
      <Icon class="w-20 text-grey-dark" name="instagram" />
    </a>
  </div>
</div>

<div id="hamburger" class="h-12 w-12 absolute right-4 top-4 z-50">
  <div
    class="transition-transform h-2 w-12 top-3 rounded-[3px] absolute bg-grey-dark"
  >
  </div>
  <div
    class="transition-transform h-2 w-12 bottom-3 rounded-[3px] absolute bg-grey-dark"
  >
  </div>
</div>

<style>
  .menu-closed {
    transform: translateY(-100vh);
  }

  #menu {
    background-image: url("/img/Helheten-backdrop.webp");
    background-position: -150px 0px;
    transition-timing-function: cubic-bezier(0.52, 0.03, 0.7, 0.63);
    transition-duration: 250ms;
    background-size: cover;
  }

  @media (min-width: 1024px) {
    #menu {
      background-position: 0px 0px;
    }
  }

  .open-top {
    transform: translateY(8px) rotate(45deg);
  }

  .open-bottom {
    transform: translateY(-8px) rotate(-45deg);
  }
</style>

<script is:inline>
function hamburgerOnclick() {
  let hamburger = document.getElementById("hamburger");
  let menu = document.getElementById("menu");
  hamburger.children[0].classList.toggle("open-top");
  hamburger.children[1].classList.toggle("open-bottom");
  menu.classList.toggle("menu-closed");
}

document.getElementById("hamburger").onclick = hamburgerOnclick;

// User clicks -> Browser determines which element was clicked -> it was hamburger ->
// document.getElementById("hamburger").onclick() == hamburgerOnclick()

function closeMenu() {
  let hamburger = document.getElementById("hamburger");
  let menu = document.getElementById("menu");
  hamburger.children[0].classList.remove("open-top");
  hamburger.children[1].classList.remove("open-bottom");
  menu.classList.add("menu-closed");
}

document.getElementById("about").onclick = closeMenu;
document.getElementById("treatment").onclick = closeMenu;
document.getElementById("contact").onclick = closeMenu;
</script>
