---
interface Props {}

const {} = Astro.props;
---

<div id="nav-image" class="w-screen h-20">
  <a href="/">
    <img
      class="w-48 p-4"
      src="/img/helheten_logo_dark.webp"
      alt="helheten logo"
    />
  </a>
</div>

<style>
  #nav-image {
    background-image: url("/img/Helheten-backdrop.webp");
    background-size: cover;
    background-position: 0px -70px;
  }
</style>
