---
interface Props {
  name: string;
  title: string;
  image: string;
  alt?: string;
}

const { name, title, image, alt } = Astro.props;
---
<div class="md:flex md:flex-row">
<div class="m-8">
  <div class="mt-16"></div>
  <img
    class="rounded-full drop-shadow-lg"
    src={image}
    alt={alt ?? "Profilbild"}
  />
  <h1 class="text-off-white text-3xl font-francoisOne text-center p-4 pt-8">
    {name}
  </h1>
  <p class="text-lg lg:text-xl mb-8 md:mb-0 text-off-white font-jost italic text-center">
    {title}
  </p>
</div>
</div>