---
interface Props {
  image: string;
  alt?: string;
  title: string;
  description: string;
}

const { image, alt, title, description } = Astro.props;
---

<div>
  <div class="lg:w-full lg:grid lg:grid-cols-[4fr_6fr] lg:items-center lg:gap-x-8">
    <img
      id={title}
      class="rounded-md"
      src={image}
      alt={alt ?? "Beskrivande behandlingsbild"}
    />
    <div class="lg:w-full">
      <h1 class="text-off-white text-3xl font-francoisOne py-4">{title}</h1>
      <p class="text-lg pb-4 text-off-white font-jost">{description}</p>
    </div>
  </div>
</div>
